*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

header h1{
    font-family:'Emilys Candy';
    font-weight: 70;
    text-align: center;
    color:pink;
   
}
header{
    position:relative;
    left:0;
    right:0;
    top:20px;
    margin-bottom:50px;
}

body{
    background-color:#FFF2D7;
    padding-inline: 10px;
}

p{
    padding-block: 10px;
     margin: 10px;
     line-height: 25px;
     font-style: italic;
     color:#7A2048;
     font-size: 18px;
}

.music{
    text-align: center;
    padding-block:20px;
}

@media(min-width:700px) {
    h1{
        font-size: 60px;
    }
    body{
        margin:0 auto;
    }
    p{
         font-size: 25px;
    }
}